
<!--Header file-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"> <strong style="font-size: 30px;">Ecommerce</strong></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link item" routerLink="/products">Product </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0 item">
      <a class="nav-link item" routerLink="login">Login</a>
      <a class="nav-link item" routerLink="cart">
        warenkob
      </a>

    </form>
  </div>
</nav>
