<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
<h2>Payement</h2>
<div class="row">
  <div class="col-75">
    <div class="container">
      <form >
        <div class="row">
          <div class="col-58">
            <h3>Adress</h3>
            <label ><i class="fa fa-user"></i>Full Name</label>
            <input type="text"  placeholder="winnie carole">
            <label ><i class="fa fa-envelope"></i>Email</label>
            <input type="email"  placeholder="winnie@gmail.com">
            <label ><i class="fa fa-address-card-o"></i>Adress</label>
            <input type="text"  placeholder="452 w. 15th street">
            <label ><i class="fa fa-institution"></i>City</label>
            <input type="text"  placeholder="phone penh">

          </div>
          <div class="col-50">
            <h3>Payment</h3>
            <label >Accepted Card</label>
            <div class="icon-container">
              <i class="fa fa-cc-visa" style="color: navy;"></i>
              <i class="fa fa-cc-amex" style="color: blue;"></i>
              <i class="fa fa-cc-mastercard" style="color: red;"></i>
              <i class="fa fa-cc-discover" style="color: orange;"></i>
            </div>
            <label >Name on Card</label>
            <input type="text"  placeholder="john More done">

            <label >Credit Card</label>
            <input type="text"  placeholder="11111-2222-3333-4444">

            <label >Exp Month</label>
            <input type="text"  placeholder="September">

            <div class="row">
              <div class="col-50">
                <label >Exp Year</label>
                <input type="text"  placeholder="2018">
              </div>
              <div class="col-50">
                <label for="cvv">CVV</label>
                <input type="teyt" id="cvv" name="cvv" placeholder="532">
              </div>

            </div>
          </div>
        </div>
        <a class="btn btn-success" href="https://www.paypal.com/de/signin">submit</a>
      </form>

    </div>
  </div>
</div>

<!--/div-->

</body>
