
<h2>Login</h2>

<form>
 <p *ngIf="isNotUser" class="error">{{errorLoging}}</p>
  <div class="container">
    <label><b>Email</b></label>
    <input type="email" placeholder="Enter Username" [formControl]="email" required>

    <label><b>Password</b></label>
    <input type="password" placeholder="Enter Password" [formControl]="password" required>

    <button type="submit"  (click)="findUser(email.value,password.value)">
     Login
    </button>

    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>


</form>
